.container {
  height: 100%;

  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.containerB {
  /* padding-top: 5px; */
  width: 100%;
}

.form > button {
  padding: 10px;
  width: 100%;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: var(--fontFamily);
}

.form > button:hover {
  background-color: var(--acrylColorBg);
}

.form > div {
  color: white;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}

.form > div > input {
  min-width: max-content;
  width: 500px;
}

.form > div > label {
  background-color: orange;
  text-transform: capitalize;
  display: inline-flex;
  align-items: center;
  padding-left: 5px;
  height: 35px;
}

.form > div > span {
  white-space: wrap;
}

.title {
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 20px;
}

.form > div > textarea {
  max-width: 500px;
  min-width: 500px;
  padding: 3px;
  outline: 0;
  font-size: 1.2rem;
}
