.container {
  grid-area: container;
  display: flex;
  overflow-y: auto;
  padding-top: 2rem;
  width: 100%;
  gap: 2rem;
  height: min-content;
  padding-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 2rem;
  gap: 10px;
}

.prevue {
  height: auto;
}

.form > button {
  padding: 10px;
  width: 100%;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: var(--fontFamily);
}

.form > button:hover {
  background-color: var(--adminAccentColor);
}

.form > div {
  justify-content: space-between;
  color: white;
  font-weight: 600;
  display: inline-flex;
  border-bottom: 1px solid rgb(159, 159, 159);
  padding-bottom: 5px;
}

.form > div > input {
  width: 50%;
}

.form > div > label {
  text-transform: capitalize;
  color: black;
  height: 35px;
}

.form > div > span {
  white-space: wrap;
}

.title {
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 20px;
}

.form > div > textarea {
  font-size: 1.2rem;
}
