.header {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: black;
position: relative;
z-index: 0
;
}
.header::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: var(--gradientColor);
  bottom:  0;
}
.topBar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
}



.title {
  font-weight: bold;
  font-size: 2rem;
  color: white;
  padding-left: 30px;
  text-decoration: none;
  cursor: pointer;
}
.title:hover{
  color:  rgb(182, 2, 182);
}