.header {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: black;
}

.topBar {
  display: flex;
  width: 80%;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
}



.title {
  font-weight: bold;
  font-size: 2rem;
  color: white;
  text-decoration: none;
}
