.card {
  border-radius: 15px;
  background-color: rgba(240, 248, 255, 0.597);
  box-shadow: 1px 1px 21px 0px rgba(0, 0, 0, 0.366);
  -webkit-box-shadow: 1px 1px 21px 0px rgba(0, 0, 0, 0.267);
  -moz-box-shadow: 1px 1px 21px 0px rgba(0, 0, 0, 0.385);
  transition: all 0.1s;

}
.card:hover {
  background-color: rgb(133, 133, 203);
  color: white;
}


.avatar img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1.3;
}
.wrapper {
  display: flex;
  flex: 1;
  min-width: 200px;
  max-width: 300px;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  gap: 30px;
  overflow: hidden;
  margin-bottom: 20px;
}

.title{
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description{ 
  text-align: center;
  font-size: 0.9rem;
  height: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 16px;
}

.addToCartB{
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: white;
  background-color: blueviolet;
  border: 0;
  outline: 0;
  cursor: pointer;
  text-decoration: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.1s;
}
.addToCartB:hover{
  background-color: greenyellow;
  color: black;
}
.link {
  text-decoration: none;
  color: black;
}
.link:visited {
  color: inherit;
}
