.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.nav {
  width: inherit;
  text-decoration: none;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.wrapper {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sort {
  display: flex;
  width: 94%;
  padding-top: 20px;
  justify-content: flex-end;
}
