.noProducts {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 10px;
  padding: 0;
}
.sortOptions{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}