.button{
  padding: 20px 50px 20px 50px;
  width: 100%;
  background-color: blueviolet;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}
.button:hover {
  background-color: rgb(47, 220, 28);
  color: black;
}