.adminPage {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: white;
}
.adminMain {
  display: flex;
  height: 100%;
}

.containerBase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  position: relative;
}
