.search {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  grid-area: main-search;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
}

.pagination-container {
  grid-area: main-pagination;
}

.breadcrumbs-container {
  display: flex;
  height: 100%;
}

.link {
  color: rgb(255, 255, 255);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  padding-left: 10px;
  background-color: rgb(0, 68, 255);
  cursor: pointer;
  height: 40px;
}

.link:hover {
  background-color: var(--acrylColorBg);
}
