.categoryContainer{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.breadcrumbs{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
}