:root {
  --gradientColor: linear-gradient(
    45deg,
    rgba(140, 21, 221, 1) 20%,
    rgba(235, 0, 255, 0.8743872549019608) 69%,
    rgba(235, 0, 255, 0.5830707282913166) 97%
  );
  --adminPanelBgColor: rgb(2, 117, 96);
  --storePageBgColor: rgb(16, 16, 16);
  --accentColor: rgba(218, 2, 218, 0.219);
}

.body::-webkit-scrollbar {
  width: 12px;
}

.body::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

.body::-webkit-scrollbar-thumb {
  background-color: var(--accentColor);
  border-radius: 20px;
}

.bodyError {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: var(--gradientColor);
}
