@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600&display=swap");

:root {
  --gradientColor: linear-gradient(
    45deg,
    rgb(47, 44, 221) 20%,
    rgba(132, 105, 228, 0.874) 69%,
    rgba(147, 162, 248, 0.774) 97%
  );
  --adminBreadcrumbsContainerArea: main-breadcrumbs;
  --adminMainContainerArea: main-container;
  --fontFamily: "Chakra Petch", sans-serif;
  --adminPanelBgColor: #23462b;
  --storePageBgColor: rgb(16, 16, 16);
  --accentColor: rgb(53, 51, 180);
  --adminAccentColor: rgba(32, 94, 32, 0.767);
}

.body {
  font-family: var(--fontFamily);
}

.bodyError {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: var(--gradientColor);
}
