@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600&display=swap");

:root {
  --gradientColor: linear-gradient(
    45deg,
    rgb(47, 44, 221) 20%,
    rgba(132, 105, 228, 0.874) 69%,
    rgba(147, 162, 248, 0.774) 97%
  );
  --adminBreadcrumbsContainerArea: main-breadcrumbs;
  --adminMainContainerArea: main-container;
  --fontFamily: "Chakra Petch", sans-serif;
  --adminPanelBgColor: #23462b;
  --storeHeaderBgColor: rgb(45, 45, 45);

  --storeMainBgColor: rgb(208, 208, 208);
  --storeHeaderAccentColor: rgb(238, 238, 238);
  --storeLinkColor: rgb(28, 28, 28);
  --storeInterfacePadding: 2rem;
  --storeInterfaceButtonColor: rgb(45, 45, 45);
  --storeInterfaceAccentColor: rgba(130, 130, 130, 0.5);
  --storeInterfaceBorder: 1px solid rgba(130, 130, 130, 0.232);
  --storeSidebarActiveColor: rgba(130, 130, 130, 0.5);
  --storeHeaderInterfaceColor: rgb(228, 228, 228);
  --accentColor: rgb(53, 51, 180);
  --adminAccentColor: rgba(32, 94, 32, 0.767);
  --acrylColorBg: #68806e;
}

.body {
  font-family: var(--fontFamily);
}

.bodyError {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: var(--gradientColor);
}
