@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600&display=swap");

:root {
  --gradientColor: linear-gradient(
    90deg,
    #7f89e4 0%,
    #7f89e4 51%,
    #7f89e4 100%
  );
  --adminBreadcrumbsContainerArea: main-breadcrumbs;
  --adminMainContainerArea: main-container;
  --fontFamily: "Chakra Petch", sans-serif;
  --adminPanelBgColor: #23462b;
  --storeHeaderBgColor: rgb(45, 45, 45);
  --storeMainBgColor: rgb(247, 247, 247);
  --storeHeaderAccentColor: rgb(238, 238, 238);
  --storeLinkColor: rgb(28, 28, 28);
  --storeInterfacePadding: 2rem;
  --storeInterfaceButtonColor: rgb(45, 45, 45);
  --storeInterfaceInputColor: rgba(141, 152, 245, 0.65);
  --storeInterfaceSecondColor: #7f89e4;
  --storeInterfaceAccentColor: rgba(102, 102, 102, 0.87);
  --storeInterfaceBorder: 1px solid rgba(130, 130, 130, 0.25);
  --storeInterfaceBorderColor: rgba(130, 130, 130, 0.25);
  --storeInterfaceCardBgColor: rgb(45, 45, 45);
  --storeInterfaceGap: 2rem;
  --storeSidebarActiveColor: rgba(130, 130, 130, 0.5);
  --storeHeaderInterfaceColor: rgb(228, 228, 228);
  --accentColor: rgb(53, 51, 180);
  --adminAccentColor: rgba(32, 94, 32, 0.767);
  --acrylColorBg: #68806e;
}

.body {
  font-family: var(--fontFamily);
}

.bodyError {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
