:root {
  --gradientColor: linear-gradient(
    45deg,
    rgba(140, 21, 221, 1) 20%,
    rgba(235, 0, 255, 0.8743872549019608) 69%,
    rgba(235, 0, 255, 0.5830707282913166) 97%
  );
  --adminPanelBg: rgb(2, 117, 96);
}

.body {
  width: 100vw;
  overflow-x: hidden;
  background-color: rgb(0, 0, 0);
}

.bodyError {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: var(--gradientColor);
}
