.rootIndexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 20px;
  background: rgb(140, 21, 221);
  background: linear-gradient(
    45deg,
    rgba(140, 21, 221, 1) 20%,
    rgba(235, 0, 255, 0.8743872549019608) 69%,
    rgba(235, 0, 255, 0.5830707282913166) 97%
  );
}
.container > p {
  padding-bottom: 130px;
  font-size: 1.2rem;
}
.container > h1 {
  font-size: 3.5rem;
}
.link {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  padding: 15px;
  background-color: black;
  border-radius: 5px;
  transition: background-color 0.1s;
}
.link:hover {
  background-color: white;
  color: black;
}
