.header {
  display: grid;
  grid-area: header;
  grid-template-columns: 300px auto 300px;
  grid-template-areas: "search title  menu";
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding-left: var(--storeInterfacePadding);
  padding-right: var(--storeInterfacePadding);
  background-color: var(--storeHeaderBgColor);
}

.menu {
  display: inline-flex;
  grid-area: menu;
  justify-content: flex-end;
  gap: 50px;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  grid-area: title;
  justify-self: center;
}

.searchBarContainer {
  grid-area: search;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  background-color: var(--storeHeaderBgColor);
}

.searchIcon {
  fill: var(--storeHeaderInterfaceColor);
}

.searchBar {
  background-color: var(--storeHeaderBgColor);
  border: none;
}

.searchBar > input {
  padding-left: 10px;
  color: var(--storeHeaderAccentColor);
}

.searchBar > input:focus {
  outline: 1px solid var(--storeHeaderAccentColor);
}

.profile > svg {
  fill: var(--storeHeaderInterfaceColor);
}

.login {
  display: inline-flex;
  align-items: center;
}

.login > svg {
  fill: var(--storeHeaderInterfaceColor);
  height: 30px;
  width: 30px;
}
