.gridLayout {
  display: grid;
  grid-template-rows: 70px 100vh auto;
  grid-template-columns: 250px auto auto;
  padding: 1.5rem;
  grid-template-areas:
    "header header header"
    "sidebar main main"
    "footer footer footer";
  overflow-x: hidden;
  overflow-y: auto;
}

@media (max-width: 999px) {
  .gridLayout {
    grid-template-columns: minmax(100px, 100px) minmax(250px, 2fr);
    grid-template-rows: min-content min-content 100px;
    grid-template-areas:
      "sidebar header header"
      "main main main"
      "footer footer footer";
  }
}

.admin {
  background-color: var(--adminPanelBgColor);
}
