.gridLayout {
  display: grid;
  overflow-y: auto;
  padding-top: 50px;
  background-color: var(--storeMainBgColor);
  grid-template-rows: 70px minmax(0px, 55px) auto 250px 5rem auto;
  grid-template-columns: minmax(200px, max-content) auto auto;
  grid-template-areas:
    "sidebar breadcrumbs sort"
    "sidebar main main"
    "sidebar main main"
    "sidebar pagination pagination"
    "footer footer footer";
}

@media (max-width: 999px) {
  .gridLayout {
    grid-template-columns: minmax(100px, 100px) minmax(250px, 2fr) auto auto;
    grid-template-rows: min-content min-content 100px;
    grid-template-areas:
      "header header header"
      "sidebar main main"
      "sidebar pagination pagination"
      "footer footer footer";
  }
}

.adminLayout {
  display: grid;
}

.sidebar {
  grid-area: sidebar;
  border-right: var(--storeInterfaceBorder);
}

.main {
  grid-area: main;
  overflow-y: auto;
}

.main::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0.865);
  display: none;
}

.footer {
  grid-area: footer;
  color: white;
}

.admin {
  background-color: var(--adminPanelBgColor);
}
