.loader {
  position: fixed;
  left: 0;
  right: 0;
  top: 50px;
  left: 0px;
  z-index: 2000;
  animation: pulse 2s infinite;
  height: 5px;
}

.bar {
  height: 5px;
  z-index: 50;
  background: var(--gradientColor);
  transition: all 800ms ease-in-out;
}

.barAdmin {
  height: 5px;
  z-index: 50;
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 1) 20%,
    rgb(13, 105, 41) 69%,
    rgb(129, 247, 178) 97%
  );
  transition: all 500ms ease-in-out;
}

.idle {
  width: 100%;
}

.animationComplete {
  width: 0%;
  opacity: 0;
  transition: none;
}

.loading {
  width: 53.3333%;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.8;
  }
}
