.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 50px;
  flex-direction: row;
}

.like {
  grid-area: like;
  padding-top: 2rem;
  padding-left: 2rem;
  border-top: var(--storeInterfaceBorder);
  padding-bottom: 2rem;
}

.title {
  font-size: 2rem;
  padding-bottom: 2rem;
}
