.container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.like {
  grid-area: like;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-top: var(--storeInterfaceBorder);
  padding-bottom: 2rem;
}

.title {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.error {
  height: 100vh;
  display: inline-flex;
  flex-wrap: wrap;
}

.link {
  width: 200px;
  color: black;
}

.link:hover {
  text-decoration: underline;
}
