.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 20px;
}

.reg {
  padding-top: 10px;
  display: inline-flex;
  justify-content: space-between;
}

.reg > a {
  color: rgb(255, 255, 255);
  text-decoration: underline;
  width: max-content;
}

.back {
  width: max-content;
}
