.container {
  display: flex;
  flex-direction: column;
  width: 30%;
}


.title {
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 20px;
}

.back {
  padding-top: 1.2rem;
  width: max-content;
  text-align: left;
  color: rgb(4, 4, 4);
  text-decoration: underline;
}

.back:hover {
  color: rgb(1, 1, 255);
}

.reg {
  padding-top: 10px;
  display: inline-flex;
  justify-content: space-between;
}

.reg>a {
  color: rgb(4, 4, 4);
  text-decoration: underline;
}

.reg>a:hover {
  color: rgb(1, 1, 255);
}