.card {
  width: 200px;
  height: auto;
  border: 1px solid gainsboro;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.thumbnail {
  max-width: 200px;
}
