.cart{
  border: 1px solid gainsboro;
  width:70%;
  height: 600px;
  max-height: 600px;
  min-width: 650px;
  
  display: flex;
  flex-direction: column;
overflow-y: hidden;
}
.list{
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  padding-top: 120px;
  overflow-y: scroll;
}
.quantityW{
  display: flex;
  width: 60%;
  justify-content: flex-start;
  gap: 50px;
  align-items: center;
}
.head{
  display: flex;
  justify-content: space-between;
  width: 100%;
}