.card {
  width: 200px;
  height: auto;
  border: 1px solid gainsboro;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background-color: var(--adminAccentColor);
}

.list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.thumbnail {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.addButton {
  min-width: 100px;
  height: 32px;
  align-items: center;
  padding: 5px;
  background-color: cadetblue;
}

.head {
  grid-area: navigation;
  display: flex;
  justify-content: space-between;
  background-color: var(--adminPanelBgColor);
  align-items: center;
  height: 55px;
}

.cart {
  grid-area: crud-main;
}

.title {
  background-color: var(--adminPanelBgColor);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  min-height: 40px;
}

.buttonContainer {
  display: flex;
  gap: 20px;
  height: 35px;
  border: 1px solid gainsboro;
}

.buttonContainer > button {
  min-width: 100px;
  align-items: center;
  padding: 5px;
  background-color: cadetblue;
}

.delete {
  background-color: rgb(167, 2, 2);
  width: 100%;
  padding: 10px;
}
