.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 30px;
  height: 100vh;
  padding-top: var(--storeInterfacePadding);
  padding-left: var(--storeInterfacePadding);
  padding-right: var(--storeInterfacePadding);
}

.noProducts {
  color: white;
  display: flex;
  height: 100%;
  align-items: center;
}
