.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 30px;
  height: auto;

  padding-top: var(--storeInterfacePadding);
  padding-left: var(--storeInterfacePadding);
  padding-right: var(--storeInterfacePadding);
  grid-area: main;
  overflow-y: auto;
}

.list::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0.865);
  display: none;
}

.noProducts {
  color: rgb(0, 0, 0);
  grid-area: main;
  display: flex;
  align-items: flex-start;
  padding-left: var(--storeInterfacePadding);
}

.li {
  align-content: flex-start;
  display: inline-flex;
  gap: var(--storeInterfaceGap);
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 10px;
  position: relative;
  border-bottom: var(--storeInterfaceBorder);
}

.li:last-child {
  border-bottom: none;
}
