.container {
  display: flex;
  flex-direction: column;
  min-width: 33%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form > .buttonContainer > button {
  width: 100%;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.2rem;
  outline: solid;
  outline-width: 1px;
  z-index: 11;
  height: 2.5rem;
  transition:
    transform 0.1s ease-in,
    background-color 0.1s ease-in,
    color 0.1s ease-in;
}

.buttonContainer {
  position: relative;
}

.bgButton {
  position: absolute;
  bottom: 0;
  height: 2.5rem;
  width: 100%;
  z-index: 1;
  background-color: var(--storeInterfaceInputColor);
  -webkit-box-shadow: inset 8px 8px 0px -4px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 8px 8px 0px -4px rgba(0, 0, 0, 1);
  box-shadow: inset 8px 8px 0px -4px rgba(0, 0, 0, 1);
}

.form > .buttonContainer > button:hover {
  transform: translate(-6px, -6px);
}

.form > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form > div > input::placeholder {
  color: aliceblue;
}

.form > div > input {
  outline: solid;
  outline-width: 1px;
  outline-color: black;
  background-color: var(--storeInterfaceInputColor);
  -webkit-box-shadow: inset 8px 8px 0px -2px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 8px 8px 0px -2px rgba(0, 0, 0, 1);
  box-shadow: inset 8px 8px 0px -6px rgba(0, 0, 0, 1);
}

.form > div > input:focus {
  outline-color: rgba(114, 127, 245);
  outline-width: 2px;
}

.form > div > label {
  text-transform: capitalize;
}

.form > div > span {
  white-space: wrap;
}

.title {
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 20px;
}

.forgot {
  width: 100%;
  text-align: right;
  color: rgb(4, 4, 4);
  text-decoration: underline;
}

.forgot:hover {
  color: rgb(1, 1, 255);
}

.reg {
  padding-top: 10px;
  display: inline-flex;
  justify-content: space-between;
}

.reg > a {
  color: rgb(4, 4, 4);
  text-decoration: underline;
}

.reg > a:hover {
  color: rgb(1, 1, 255);
}

.back {
  padding-top: 1.2rem;
  width: max-content;
  text-align: left;
  color: rgb(4, 4, 4);
  text-decoration: underline;
}

.back:hover {
  color: rgb(1, 1, 255);
}
