.list {
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.add {
  height: 30px;
  background-color: cadetblue;
  align-items: center;
}

.thumbnail {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.title {
  background-color: var(--adminPanelBgColor);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  min-height: 40px;
}

.product {
  width: 250px;

  border: 1px solid gainsboro;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background-color: var(--adminAccentColor);
}

.container {
  padding-top: 5px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.id {
  max-width: 80px;
  width: 80px;
}

.stock {
  max-width: 80px;
  width: 80px;
}
