.container {
  display: inline-flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  width: 100%;
  overflow: hidden;
}

.button,
.link {
  padding: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  color: black;
  text-align: center;
  font-family: var(--fontFamily);
  font-weight: 600;
}

.link:hover,
.button:hover {
  background-color: #68806e;
}

.edit {
  color: black;
  background-color: rgb(188, 199, 42);
}

.delete {
  background-color: rgba(170, 7, 7, 0.767);
  color: white;
  width: 100%;
}
