.container {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.button,
.link {
  padding: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  color: black;
  text-align: center;
  font-family: var(--fontFamily);
  font-weight: 600;
}

.link:hover,
.button:hover {
  background-color: #68806e;
}

.edit {
  background-color: rgb(188, 199, 42);
}

.delete {
  background-color: rgba(172, 6, 6, 0.767);
  width: 100%;
}
