.container {
  grid-area: crud-main;
  padding: 20px;
  background-color: rgba(32, 94, 32);
}

.wrapper {
  padding-top: 40px;
  grid-area: main-container;
  border-top: 1px solid gainsboro;
  overflow-y: auto;
}

.title {
  border-top: 1px solid gainsboro;
  grid-area: main-search;
  display: inline-flex;
  align-items: center;
  color: white;
  font-size: 1.2rem;
  justify-content: space-between;
}

.link {
  height: 40px;
  align-items: center;
  display: inline-flex;
  padding-right: 10px;
  padding-left: 10px;
}

.link:hover {
  background-color: var(--acrylColorBg);
}
