.editCustomerPanel {
  border: 1px solid gainsboro;
  width: min-content;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: left 0.5s ease;
  z-index: 10;
  padding: 20px;
  background-color: rgba(32, 94, 32);
}

.md {
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background-color: rgba(220, 220, 220, 0.637);
  position: fixed;
  bottom: 0;
  left: 0;
}

.head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  color: white;
  font-size: large;
  font-weight: bold;
  padding-bottom: 10px;
}

.head > a {
  text-decoration: none;
  color: white;
}

.head::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: gainsboro;
}

.addPanel {
  border: 1px solid gainsboro;
  padding: 10px;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.field {
  padding: 10px;
}

.field > p {
  padding-bottom: 5px;
  color: white;
}

.button {
  margin-top: 10px;
  padding: 10px;
  color: white;
  background-color: cadetblue;
  width: 35%;
}
