.loader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0px;
  left: 0px;
  z-index: 50;
  animation: pulse 2s infinite;
  height: 5px;
}

.bar {
  height: 5px;
  z-index: 50;
  background: linear-gradient(45deg, rgba(0,0,0,1) 20%, rgb(236, 173, 242) 69%, rgba(235,0,255,1) 97%);
  transition: all 500ms ease-in-out;
}
.idle {
  width: 100%;
}
.animationComplete {
  width: 0%;
  opacity: 0;
  transition: none;
}

.loading {
  width: 53.3333%;
}
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
}
