.form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.field {
  padding: 10px;
}

.field > p {
  padding-bottom: 5px;
  color: white;
}

.field > input {
  padding-left: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 1.2rem;
  border: 0;
}

.button {
  margin-top: 10px;
  padding: 10px;
  color: white;
  background-color: cadetblue;
  width: 35%;
}
