
.container {
  display: flex;
  width: 85vw;
  justify-content: space-between;
}

.sidebar {
  margin-top: 20px;
  width: 30%;
  max-width: 270px;
  border-radius: 10px;
  height: fit-content;
}
.main {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainWrapper{
  width: 100%;
}
