.container {
  width: 100vw;
  height: 91vh;
  display: flex;
  overflow-x: hidden;
}

.sidebar {
  height: inherit;
  max-width:  25%;
  width: 250px;
}
.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
