
.list {
  height: inherit;

}

.ul {
  height: inherit;
  list-style: none;
width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
}

.li {
  position: relative;
  width: 100%;
  height: 100%;
}
.li:hover {
  background: var(--gradientColor);
}
.link {
  display: flex;
  height: inherit;

  justify-content: flex-start;
  padding-left: 30px;
  align-items: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  font-size: 1.2;
  font-weight: bold;
}
.li::after {
  content: "";
  position: absolute;
  width: 100%;
  background: var(--gradientColor);
  left: 0;
  bottom: 0;
  height: 1px;
}
