.noProducts {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 10px;
  padding: 10px;
}

.ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid gainsboro;
  width: 100%;
  height: 50px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.1s;
  -webkit-box-shadow: 0px 0px 12px 2px rgba(78, 60, 181, 0.411);
  -moz-box-shadow: 0px 0px 12px 2px rgba(78, 60, 181, 0.473);
  box-shadow: 0px 0px 12px 2px rgba(78, 60, 181, 0.5);
  transition: all 0.1s;
}
.li:hover {
  background-color: aliceblue;
}
.link {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
}
.link:visited {
  color: black;
}
