.loginPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  grid-area: main;
  padding-bottom: 300px;
}

.error {
  display: inline-flex;
  align-items: center;
  color: red;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 10px;
  border: 2px solid black;
}
