.sidebar{
  background-color: rgb(2, 117, 96);
  min-width: 15%;
}
.list{
  list-style: none;
  padding: 20px;
margin: 0;
display: flex;
flex-direction: column;
padding-top: 40px;
gap: 55px
;
}
.list>li{
border: 1px solid gainsboro;
border-radius: 5px;
height: 70px;
}
.list>li:hover{
  border: 1px solid rgb(82, 87, 86);
background-color: rgba(127, 255, 212, 0.211);
  }
.list>li>a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
}