.gridSidebar {
  background-color: rgb(16, 16, 16);

  grid-area: sidebar;
}

.list {
  display: none;
}

.active {
  color: rgb(255, 255, 255);
  background-color: var(--acrylColorBg);
}

.active > a {
  color: rgba(255, 255, 255);
}

.link {
  font-weight: bold;
  font-family: var(--fontFamily);
  font-size: 1.1rem;
  color: white;
}

.link:hover {
  background-color: var(--acrylColorBg);
}

.list > li > a {
  max-height: 50px;
  height: 50px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  text-decoration: none;
  padding: 2.5px 10px 2.5px 10px;
}

.list > li > a > p {
  padding-top: 5px;
}

.list > li > a > svg {
  max-width: 24px;
  max-height: 24px;
}

.hidden {
  display: none;
}

.isHamburger {
  background-color: var(--adminPanelBgColor);
  position: fixed;
  left: 50%;
  transform: translateX(-44%);
  list-style: none;
  margin: 0;
  display: flex;
  width: 80%;
  flex-direction: column;
  gap: 20px;
  border: 2px solid gray;
}

@media (max-width: 1000px) {
  .hidden {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }
}

@media (min-width: 1000px) {
  .list {
    display: inline-block;
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 15px 10px 15px;
  }

  .isHamburger {
    display: none;
  }

  .hidden {
    display: none;
  }
}
