.gridSidebar {
  background-color: var(--adminPanelBgColor);
  border: 2px solid gray;
  overflow: hidden;
  position: relative;
}

.list {
  display: none;
}

.active {
  background-color: rgb(255, 255, 255);
  color: rgb(2, 117, 96);
  -webkit-box-shadow: inset 0px 0px 0px 2.5px var(--adminPanelBgColor);
  -moz-box-shadow: inset 0px 0px 0px 2.5px var(--adminPanelBgColor);
  box-shadow: inset 0px 0px 0px 2.5px var(--adminPanelBgColor);
}

.active > a {
  color: var(--adminPanelBgColor);
}

.link {
  border: 1px solid gainsboro;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  color: white;
}

.link:hover {
  border: 1px solid rgb(82, 87, 86);
  background-color: rgba(255, 255, 255, 0.123);
}

.active:hover {
  border: 1px solid rgb(82, 87, 86);
  background-color: rgba(255, 255, 255, 0.842);
}

.list > li > a {
  min-height: 30px;
  min-width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 2.5px 10px 2.5px 10px;
}

.hidden {
  display: none;
}

.isHamburger {
  background-color: var(--adminPanelBgColor);
  position: fixed;
  left: 50%;
  transform: translateX(-44%);
  list-style: none;
  margin: 0;
  display: flex;
  width: 80%;
  flex-direction: column;
  gap: 20px;
  border: 2px solid gray;
}

@media (max-width: 1000px) {
  .hidden {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }
}

@media (min-width: 1000px) {
  .list {
    display: inline-block;
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 15px 10px 15px;
  }

  .isHamburger {
    display: none;
  }

  .hidden {
    display: none;
  }
}
