.gridSidebar {
  background-color: rgb(28, 28, 28);

  grid-area: sidebar;
}

.list {
  display: none;
}

.active {
  color: rgb(255, 255, 255);
  background-color: var(--adminAccentColor);
  width: 100%;
}

.active > a {
  color: rgba(255, 255, 255);
  width: 100%;
}

.link {
  font-weight: bold;
  font-family: var(--fontFamily);
  font-size: 1.1rem;
  color: white;
  height: min-content;
  word-wrap: break-word;
  padding-top: 15px;
  padding-bottom: 15px;
}

.link:hover {
  background-color: rgb(99, 216, 179);
}

.list > li > a {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  text-decoration: none;
  padding-left: 2rem;
  width: 100%;
}

.list > li > a > p {
  max-width: 100px;
  text-wrap: wrap;
}

.list > li > a > svg {
  padding: 5px;
  width: 30px;
  height: 30px;
}

.hidden {
  display: none;
}

.isHamburger {
  background-color: var(--adminPanelBgColor);
  position: fixed;
  left: 50%;
  transform: translateX(-44%);
  list-style: none;
  margin: 0;
  display: flex;
  width: 80%;
  flex-direction: column;
  gap: 20px;
  border: 2px solid gray;
}

@media (max-width: 1000px) {
  .hidden {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }
}

@media (min-width: 1000px) {
  .list {
    display: inline-block;
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* padding-left: 2rem; */
  }

  .isHamburger {
    display: none;
  }

  .hidden {
    display: none;
  }
}
