.container {
  grid-area: main;
  background-color: var(--adminPanelBgColor);
  padding: 1.2rem 1.4rem 1.4rem 1.2rem;
  display: grid;

  grid-template-rows: 55px 55px auto 40px;
  grid-template-columns: auto;
  grid-template-areas:
    "main-breadcrumbs"
    "main-search"
    "main-container"
    "main-pagination";
}
