.container {
  grid-area: container;
  display: flex;
  overflow-y: auto;
  padding-top: 2rem;
  gap: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
}

.upload {
  display: flex;
  height: 200px;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(127, 127, 127);
}

.form > div > div > textarea {
  font-size: 1.2rem;
  min-width: 50%;
  min-height: 50px;
  border: 1px solid var(--adminAccentColor);
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 2rem;
  gap: 10px;
}

.prevue {
  height: min-content;
}

.form > button {
  padding: 10px;
  width: 100%;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: var(--fontFamily);
}

.form > button:hover {
  background-color: var(--adminAccentColor);
}

.form > div > div {
  justify-content: space-between;
  color: rgb(0, 0, 0);
  font-weight: 600;
  display: inline-flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(159, 159, 159);
  padding-bottom: 5px;
}

.form > div > div > input {
  width: 50%;
  border: 1px solid var(--adminAccentColor);
}

.form > div > div > label {
  text-transform: capitalize;
  color: black;
  height: 35px;
}

.title {
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 20px;
}
