.panel {
  grid-area: main;
  background-color: aliceblue;
  border: 1px solid gainsboro;
  overflow-y: scroll;
  display: grid;
  grid-template-rows: min-content;
  grid-template-areas:
    "navigation"
    "crud-main";
}

.nav {
  grid-area: navigation;
  display: inline-flex;
  justify-content: space-between;
}

.card {
  color: black;
}
