.breadcrumbs {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  width: 75%;
  font-weight: bold;
}
.link{
  color: rgb(209, 2, 209);
  
}
.separator {
  margin: 0 5px;
  color: rgb(209, 2, 209);
}
.last{color: rgb(4, 4, 4);}