.list{
overflow-y: scroll;
text-decoration: none;
margin: 0;
padding: 0;
max-height: 710px;
display: flex;
flex-direction: column;
width: 100%;
gap: 10px;
}
.product{
display: flex;
width: 100%;
justify-content: space-between;
align-items: center;
}
.title{
  max-width: 150px;
  width: 150px;
  margin: 0;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.id{
  max-width: 80px;
  width: 80px;
}
.stock{
  max-width: 80px;
  width: 80px;
}