.errorNotFound {

  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 50px;
  background: white;
}

.backB {
  border: 0px;
  background: white;
  cursor: pointer;
  text-decoration: underline;
  color: green;
  padding: 15px;
  width: auto;
  height: auto;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid rgba(128, 128, 128, 0.411);
  border-radius: 5px;
  text-decoration: none;
}

.backB:hover {
  background-color: rgba(2, 252, 2, 0.210);
}

.link {
  color: purple;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(128, 128, 128, 0.411);
  padding: 15px;
  border-radius: 5px;
  background: rgba(192, 228, 213, 0.144);

  text-decoration: none;
}

.link:hover {
  background-color: rgba(128, 0, 128, 0.210);
}

.heading {
  color: purple;
  font-size: 5.5rem;
  font-weight: bold;
}

.status {
  color: black;
  font-size: 1.5rem;
}

.container {
  display: flex;
  gap: 50px;
}

.data {
  color: black;
  font-size: 1.5rem;
}