.container {
  display: inline-flex;
  width: 100%;
  height: 40px;
}

.form {
  width: 100%;
  height: 40px;
}

.button {
  padding: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 100%;

  cursor: pointer;
  color: black;
  text-align: center;
  font-family: var(--fontFamily);
  font-weight: 600;
}

.button:hover {
  background-color: #68806e;
}

.edit {
  background-color: rgb(188, 199, 42);
}

.delete {
  background-color: rgba(172, 6, 6, 0.767);
  color: white;
  height: 40px;
}
