.sort {
  outline: none;
  font-size: 1.2rem;
  font-weight: lighter;
}

.select {
  border: none;
  background-color: var(--storeMainBgColor);
  font-size: 1.2rem;
  font-weight: inherit;
}

.select:focus {
  outline: none;
}

.option {
  font-size: 1.2rem;
}

.container {
  grid-area: sort;
  padding-top: var(--storeInterfacePadding);
  padding-right: var(--storeInterfacePadding);
  display: inline-flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
}

.title {
  color: var(--storeInterfaceAccentColor);
}
