.container {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.wrapper {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding: 15px;
  border: 2px solid purple;
  display: flex;
  gap: 140px;
  box-shadow: 1px 1px 21px 0px rgba(0, 0, 0, 0.366);
  -webkit-box-shadow: 1px 1px 21px 0px rgba(0, 0, 0, 0.267);
  -moz-box-shadow: 1px 1px 21px 0px rgba(0, 0, 0, 0.385);
}
.informationWrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-between;
}
.information{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bcontact {
  padding: 20px 50px 20px 50px;
  width: 100%;
  background-color: blueviolet;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}
.bcontact:hover {
  background-color: rgb(47, 220, 28);
  color: black;
}

