.list {
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
.head {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.head > p {
  width: 90px;
  text-align: left;
}
.body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.info {
  border: 1px solid gainsboro;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 5px;
}
.info > p {
  width: 100px;
  max-width: 100px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.customer {
  display: flex;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 190px;
}

.action {
  text-align: center;
  min-width: 190px;
}

.button {
  border-radius: 5px;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit {
  background-color: rgb(113, 113, 255);
}

.cart {
  background-color: rgb(168, 238, 2);
  border: 0;
}

.delete {
  background-color: red;
  border: 0;
}

.edit:hover {
  background-color: rgba(113, 113, 255, 0.752);
}

.cart:hover {
  background-color: rgba(167, 238, 2, 0.802);
}

.delete:hover {
  background-color: rgba(255, 0, 0, 0.813);
}
