.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 5px;
  padding-top: 15px;
}

.title {
  font-size: 1.1rem;
}

.price {
  font-weight: bold;
  font-size: 1.1rem;
}
