.card {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(215, 0, 215);
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
.card:hover {
  background: var(--gradientColor);
}
.avatar {
  width: 250px;
  height: auto;
  overflow: hidden;
  border-radius: 5px;
}
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1.3;
}

.link {
  text-decoration: none;
  color: black;
}
