.adminGrid {
  display: grid;
  overflow-y: auto;
  grid-template-rows: min-content 100vh min-content;
  grid-template-columns: 200px auto;
  grid-template-areas:
    "header header"
    "sidebar main "
    "footer footer ";
}
