.table {
  position: relative;
  table-layout: fixed;
}

.head {
  height: 55px;
  color: rgb(0, 0, 0);
  background-color: var(--adminAccentColor);
  top: 0;
  position: sticky;
}

.name {
  text-align: center;
  max-width: 200px;
  padding: 10px;
}

.stock {
  min-width: 50px;
  text-align: center;
  padding: 10px;
}

.rating {
  padding: 10px;
  text-align: center;
}

.checkboxB {
  max-width: 25px;
  width: 25px;
  padding: 20px;
}

.checkbox {
  max-width: 25px;
  width: 25px;
  padding: 20px;
}

.checkbox > input {
  padding: 20px;
}

.created {
  min-width: 115px;
  padding: 10px;
}

.imgWrapper {
  max-height: 150px;
  max-width: 190px;
  min-width: 100px;
  overflow: auto;
  padding: 10px;
}

.description {
  text-overflow: ellipsis;
  white-space: wrap;
  font-size: 0.9rem;
  padding: 10px;
}

.img {
  width: 100%;
  height: auto;
  max-height: 200px;
  overflow: hidden;
  object-fit: cover;
}

.image {
  padding: 10px;
}

.info {
  background-color: #fefefe;
  color: rgb(8, 8, 8);
  height: 40px;
}

.info:nth-child(even) {
  background-color: #fefefec9;
  color: rgb(8, 8, 8);
}

.action {
  /* min-width: 200px; */
  text-align: center;
  overflow: hidden;
}

.container {
  overflow-y: auto;
}

.category {
  padding: 10px;
}
