.button {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: var(--storeMainBgColor);
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.3rem;
  border: none;
  transition: all 0.1s;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(47, 220, 28);
  color: rgb(255, 255, 255);
}
