.mainGrid {
  grid-area: main;
  background-color: rgb(220, 220, 220);
  display: grid;
  overflow-y: auto;
  grid-template-rows: min-content min-content 100vh 40px;
  grid-template-columns: auto;
  grid-template-areas:
    "breadcrumbs"
    "search"
    "container"
    "pagination";
}
