.cart {
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartIcon {
  fill: var(--storeInterfaceSecondColor);
}

.quantity {
  position: absolute;
  top: 0;
  right: -5px;
  background-color: var(--accentColor);
  border-radius: 100%;
  height: 20px;
  width: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
