.breadcrumbs {
  display: flex;
  grid-area: breadcrumbs;
  align-items: center;
  font-size: 1.2rem;
  font-weight: lighter;
  padding-top: var(--storeInterfacePadding);
  padding-left: var(--storeInterfacePadding);
  height: min-content;
}

.link {
  color: var(--storeLinkColor);
}

.link:hover {
  text-decoration: underline;
}

.adminLink {
  color: rgb(255, 255, 255);
}

.separator {
  margin: 0 5px;
  color: var(--storeInterfaceAccentColor);
}

.adminSeparator {
  margin: 0 5px;
  color: rgb(2, 117, 96);
}

.last {
  color: var(--storeInterfaceAccentColor);
}

.adminLast {
  color: gainsboro;
}

.adminGridArea {
  grid-area: main-breadcrumbs;
}
