.table {
  table-layout: auto;
  min-width: 100%;
}

.notFound {
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}

.head {
  background-color: var(--adminPanelBgColor);
  color: rgba(255, 255, 255, 0.938);
}

.head>td {
  padding: 15px;
}

.bold {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
}

.checkbox>input {
  margin-left: 9px;
}

.create {
  background-color: rgba(255, 255, 255, 0.568);
  padding: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info {
  background-color: var(--adminAccentColor);
  position: relative;
  color: rgba(255, 255, 255, 0.959);
  text-align: start;
}

.info>td {
  padding: 20px;
}

.info::after {
  content: "";
  width: 100%;
  height: 1px;
  left: 0px;
  bottom: 0;
  position: absolute;
  background-color: aliceblue;
}

.cartLink {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartLink>button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.cartLink>a {
  background-color: green;
  padding: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}