.table {
  width: 100%;
}

.head {
  height: 55px;
  color: white;
  background-color: rgba(255, 255, 255, 0.313);
}

.name {
  min-width: 150px;
}

.checkbox {
  min-width: 25px;
  padding-left: 10px;
}

.created {
  min-width: 115px;
}

.cart {
  min-width: 100px;
}

.info {
  background-color: orange;
  height: 40px;
}

.cartLink {
  background-color: white;
}

.cartLink:hover {
  background-color: green;
}

.cartLink > a {
  color: black;
  height: 100%;
}

.cartLink > a:hover {
  background-color: rgba(255, 255, 255, 0.827);
}
