.table {
  position: relative;
  height: min-content;
  table-layout: fixed;
}

.head {
  height: 55px;
  color: rgb(0, 0, 0);
  background-color: var(--adminAccentColor);
  top: 0;
  position: sticky;
}

.name {
  text-align: left;
  max-width: 200px;
  padding: 10px;
}

.checkbox {
  max-width: 25px;
  width: 25px;
  padding: 20px;
}

.checkbox > input {
  padding: 20px;
}

.checkboxB {
  max-width: 25px;
  width: 25px;
  padding: 20px;
}

.created {
  padding: 10px;
}

.cart {
  padding: 10px;
  text-align: center;
}

.info {
  background-color: #fefefe;
  color: rgb(8, 8, 8);
  height: 40px;
}

.info:nth-child(even) {
  background-color: #fefefec9;
  color: rgb(8, 8, 8);
}

.cartLink {
  padding: 10px;
}

.cartLink > button > svg:hover {
  fill: green;
  filter: drop-shadow(0px 1px 1px #000000);
}

.cartLink > button > svg {
  padding: 5px;
}

.cartLink > button {
  width: 100%;
  background-color: white;
  cursor: pointer;
}

.action {
  padding: 10px;
}
