.gridMain {
  grid-area: main;
}

.headerInfo {
  background-color: var(--adminPanelBgColor);
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  border: 1px solid gainsboro;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
