.gridSidebar {
  grid-area: sidebar;
  padding-top: var(--storeInterfacePadding);
  background-color: var(--storeMainBgColor);
  border-right: var(--storeInterfaceBorder);
}

.active {
  text-decoration: underline;
}

.li {
  font-size: 1.2;
  font-weight: lighter;
  transition: all 0.2s;
}

.label {
  padding-left: var(--storeInterfacePadding);
  color: var(--storeLinkColor);
  font-size: 1.2rem;
}

.link {
  text-decoration: underline;
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-decoration: none;
}

.label:hover {
  text-decoration: underline;
  color: black;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-right: var(--storeInterfacePadding);
  padding-bottom: var(--storeInterfacePadding);
}