.container {
  padding-top: 2rem;
  display: flex;
  grid-column-start: 0;
  grid-column-end: 3;
}

.poster {
  border-top: var(--storeInterfaceBorder);
  grid-area: img;
  display: flex;
  justify-content: flex-start;
  align-self: center;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.poster>img {
  height: auto;
  object-fit: cover;
  aspect-ratio: 1.1;
}

.wrapper {
  border-top: var(--storeInterfaceBorder);
  padding-right: 2rem;
  padding-left: 2rem;
  grid-area: info;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 2rem;
  width: 100%;
  border-left: var(--storeInterfaceBorder);
}

.information {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.information>form>button {
  background-color: var(--storeHeaderAccentColor);
}

.description {
  font-size: 1.5rem;
  padding-top: 3rem;
}

.brand {
  font-size: 1rem;
  padding-top: 2rem;
}

.title {
  font-size: 2rem;
  padding-top: 0.5rem;
}

.price {
  padding-top: 2rem;
  color: red;
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 2rem;
}

.prevPrice {
  text-decoration: line-through;
  color: gray;
  font-weight: 300;
}

.rating {
  padding-top: 1.5rem;
  width: 100%;
  text-align: center;
}