.singleProductGrid {
  display: grid;
  height: 100vh;
  grid-template-rows: 70px auto auto auto;
  grid-template-columns: auto auto auto;
  padding: 1.5rem 1rem 1.5rem 1rem;
  grid-template-areas:
    "header header header"
    "bread bread bread"
    "main main main"
    "footer footer footer";
  overflow: auto;
  background-color: black;
}

@media (max-width: 999px) {
  .gridLayout {
    grid-template-columns: auto;
    grid-template-rows: min-content;
    grid-template-areas:
      "header header header"
      "bread bread bread"
      "main main main"
      "footer footer footer";
  }
}