.container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
}

.search {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.notFound {
  padding-top: 100px;
  font-size: 1.5rem;
  text-align: center;
  color: orange;
  font-weight: bold;
  letter-spacing: 5px;
  font-family: var(--fontFamily);
}

.wrapper {
  display: flex;
  gap: 50px;
  flex-direction: column;
  grid-area: var(--adminMainContainerArea);
}
