.container {
  grid-area: var(--adminMainContainerArea);
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
}

.search {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.notFound {
  font-size: 1.5rem;
  text-align: center;
  color: rgb(215, 151, 32);
  font-weight: bold;
  letter-spacing: 5px;
  font-family: 'Josefin Sans', sans-serif;
}

.link {
  color: rgb(255, 255, 255);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  padding-left: 10px;
  background-color: rgb(8, 3, 77);
  cursor: pointer;
}


.wrapper {
  display: flex;
  gap: 50px;
  flex-direction: column;
}