.customersPanel {
  grid-area: crud-main;
}

.searchContainer {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.searchContainer > a {
  color: rgb(255, 255, 255);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  padding-left: 10px;
  background-color: rgb(8, 3, 77);
  cursor: pointer;
}

.container {
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
