.customersPanel{
border: 1px solid gainsboro;
width: 1500px;
max-width: 60%;
min-width:870px ;
padding: 10px;
min-height: 750px;
}
.customerListContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
}
.searchContainer{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
